<script>
  export let min_height = "1.3em";
  export let multiline = false;
  export let lable = ""
  export let value;
</script>

{#if multiline}
  <div>
    <textarea contenteditable bind:value={value} style="min-height: {min_height}"/>
  </div>
{:else}
  {#if lable != ""}
  <fieldset>
    <legend>{lable}</legend>
    <input contenteditable bind:value={value}/>
  </fieldset>
  {:else}
  {/if}
{/if}

<style>
div {
	border-style: solid !important;
	border-width: thin;
	border-color: gray;
	border-radius: 4px;
	height: 100%;
	overflow: auto;
  min-height: 1.3em;
  text-align: left;
}

input, textarea{
  width: 100%;
  background-color: transparent;
  border-style: none;
  margin: 0;
  resize: none;
}
fieldset {
  margin-top: 1em;
  margin-bottom: .5em;
  border: 1px solid #ccc !important;
  border-style: solid;
  border-radius: .5em;
  padding: 0.01em 1em;
}
legend {
  white-space: nowrap;
  width: auto;
}
</style>
