<script>
  export let show = false;
  $: display = show ? 'flex' : 'none'
  $: console.log("show", show)

  document.addEventListener("click", function(evt) {
    if (!show) return;
    let flyoutEl = document.getElementById('modal'),
      targetEl = evt.target; // clicked element
    do {
      if(targetEl == flyoutEl) {
        // This is a click inside, does nothing, just return.
        document.getElementById("flyout-debug").textContent = "Clicked inside!";
        return;
      }
      // Go up the DOM
      targetEl = targetEl.parentNode;
    } while (targetEl);
    // This is a click outside.
    document.getElementById("flyout-debug").textContent = "Clicked outside!";
  });
</script>

<div id="modal" style="display: {display}" on:click={() => {show = false}}>
  <div id="modal-content" on:click|stopPropagation={() => {}}>
    <slot/>
  </div>
</div>

<style>
/* The Modal (background) */
#modal {
  display: none; /* Hidden by default */
  align-items: center;
  position: fixed; /* Stay in place */
  z-index: 110; /* Sit on top */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#modal-content {
  margin: auto;
  max-width: 80%;
  width: auto;
}
</style>
