<script>
import { onMount } from 'svelte';

onMount(() => {
  document.getElementById("after_topbar").style.height = document.getElementById("topbar").clientHeight + "px";
})
</script>

<div>
  <div id="topbar">
    <slot></slot>
  </div>
  <div id="after_topbar"></div>
</div>

<style>
#topbar {
  z-index: 100;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}
</style>
